.container {
	width: 90%;
	max-width: 1300px;
	padding-top: 10px;
}
.navbar {
	margin-bottom: 0px;
}
.navbar-right > li > a {
  background-color: #16b9f9;
  text-transform: uppercase;
  font-weight: 300;
  font-family: sans-serif;
  line-height: 10px;
  color: #fff;
  padding: 17px 50px !important;
  border-radius: 25px;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
.navbar-right > li > a:hover {
  background-color: #46c8fb;
}